@page "/qrcode"
@inject HttpClient Http
@using QRMaker.Shared
<h1>Enter a URL or any text below to generate a QR Code</h1>

<input @bind="Text" />
<button class="btn btn-primary" @onclick="CreateQR">Click me</button>
@if (!string.IsNullOrEmpty(Image))
{
<div>
    <img src="data:image/png;base64, @Image"/>
</div>
}
@if (!string.IsNullOrEmpty(Result))
{
    <h1>Unable to create QR code.</h1>
}







@code {
    public string Image { get; set; }
    public string Text { get; set; }
    public string Result { get; set; }

    protected async Task CreateQR()
    {

        if (string.IsNullOrEmpty(Text))
        {
            Result = "No input provided.";
            return;
        }

        var request = new QRCode
        {
            content = Text
        };

        //var response = await Http.GetFromJsonAsync<string>("WeatherForcast/Text");
        var response = await Http.PostAsJsonAsync("QRCode/Create", request);

        var qrcode = await response.Content.ReadFromJsonAsync<QRCode>();
        Image = qrcode.Base64QRCode;
        Result = string.Empty;
    }
}