@page "/"
@inject HttpClient Http
@using QRMaker.Shared
<h1>Hello, world!</h1>

<button class="btn btn-primary" @onclick="CreateQR">Click me</button>
Welcome to your new app.


<div>
    <img src="data:image/png;base64, @Image" alt="Red dot" />
</div>



<SurveyPrompt Title="How is Blazor working for you?" />


@code {
    public string Image { get; set; }

    protected async Task CreateQR()
    {

        //string content = "";

        //        var data = new StringContent(content);
        var request = new QRCode
        {
            content = "NABEEL"
        };

        //var response = await Http.GetFromJsonAsync<string>("WeatherForcast/Text");
        var response = await Http.PostAsJsonAsync("QRCode/Create", request);
        
        var qrcode = await response.Content.ReadFromJsonAsync<QRCode>();
        Image = qrcode.Base64QRCode;
    }
}